[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
owlmixin = "*"
pendulum = "*"
fn = "*"
requests = "*"
fire = "*"

[dev-packages]

[requires]
python_version = "3.7"
